body {font-family:helvetica Neue;font-weight: 50;
line-height: 1.6em color: #454545;}
h1 {font-family:helvetica Neue;font-weight:50;}
h2 {font-family:helvetica Neue;font-weight:50;}
ul {font-size: 14px}
a{color: #454545;helvetica Neue;}

header h1 {margin:0;display: inline-block;}

nav ul li {display: inline-block; list-style-type: none; padding: 0px 4px 20px 150px}


p {padding:100px 500px 4px 40px}
